@model ViewModel
@{
    ViewBag.Title = "My Profile";
    Layout = "_Layout";
}

<body>
<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    
    <!-- =============== START OF MAIN =============== -->
    <main class="contact-page ptb100">
        <div class="container">
            <div class="row">
                
                <!-- Start of Avatar Form -->
                <div class="col-md-4 col-sm-12">
                    <h3 class="title">Avatar</h3>
                    
                    <div style="margin-top: 10px;">
                        <div class="movie-poster">
                            <img src="@Model.UserById.AvatarPath"
                                 alt="" width="200">
                        </div>
                        
                        <p></p>
                        
                        <form class="row mt30" asp-controller="User" asp-action="ResetAvatar" method="post">
                            <div class="form-group text-center col-7">
                                <button class="btn btn-main btn-effect" type="submit">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End of Avatar Form -->

                <div class="col-md-8">
                    <!-- Start of Information Form -->
                    <h3 class="title">Information</h3>
                    <form id="information-form" asp-controller="User" asp-action="UpdateInformation" method="post">
                        
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="nickname">Nickname</label>
                            <input name="nickname" id="nickname" class="form-control input-box" type="text" 
                                   value="@Model.UserById.Nickname" autocomplete="off" required/>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="avatar">Avatar url</label>
                            <input name="avatar" id="avatar" class="form-control input-box" type="url" 
                                   value="@Model.UserById.AvatarPath" autocomplete="off" required/>
                        </div>
                        
                        <!-- Form Group -->
                        <div>
                            <label>Registration date: @Model.UserById.RegisterDate.ToString("d")</label>
                        </div>
                        
                        <!-- Form Group -->
                        <div>
                            <label>Reviews count: @Model.Reviews.Count</label>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group text-center">
                            <button class="btn btn-main btn-effect" type="submit">Update</button>
                        </div>
                    </form>
                    <!-- End of Information Form -->

                    
                    <h3 class="title">Security</h3>
                    <!-- Start of Security Form -->
                    <form id="security-form" asp-controller="User" asp-action="UpdateSecurity" method="post">
                    
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" id="email" class="form-control input-box" type="email" 
                                   value="@Model.UserById.Email" autocomplete="off" required/>
                        </div>
                        
                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" id="password" class="form-control input-box" type="password" 
                                   value="" autocomplete="off" required/>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group text-center">
                            <button class="btn btn-main btn-effect" type="submit">Update</button>
                        </div>
                    </form>
                    <!-- End of Security Form -->
                </div>
            </div>
            
            <p></p>
            <hr>
            <h4 class="row justify-content-center pt10">Latest Reviews</h4>
            <ol>
                @foreach (var review in Model.Reviews)
                {
                    <li>
                        <a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@review.MovieId"
                           class="row justify-content-center" style="font-weight: 400; margin-right: 25px">
                            @Model.Movies.FirstOrDefault(x => x.MovieId == review.MovieId)?.Title
                        </a>
                        <small class="row justify-content-center" style="font-weight: 400; margin-right: 25px">
                            review from @review.ReviewDate.ToString("d")
                        </small>
                    </li>
                }
            </ol>
        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->
    
</div>
<!-- =============== END OF WRAPPER =============== -->


</body>