@model ViewModel

@{
    ViewBag.Title = Model.UserById.Nickname + " - Users";
    Layout = "_Layout";
}

<body>
<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    
    <!-- =============== START OF MAIN =============== -->
    <main class="contact-page ptb100">
        <div class="container">
            <div class="row">
                
                <!-- Start of Avatar Form -->
                <div class="col-md-3" style="margin-left: 30%">
                    <div style="margin-top: 40px;">
                        <div class="movie-poster">
                            <img src="@Model.UserById.AvatarPath"
                                 alt="" width="200">
                        </div>
                    </div>
                </div>
                <!-- End of Avatar Form -->
                
                <div>
                    <h2>@Model.UserById.Nickname</h2>
                    
                    <h6>Registration date: @Model.UserById.RegisterDate.ToString("d")</h6>
                    <h6>Reviews count: @Model.Reviews.Count</h6>
                </div>
                
            </div>
            
            <p></p>
            <hr>
            <h4 class="row justify-content-center pt10">Latest Reviews</h4>
            <ol>
            @foreach (var review in Model.Reviews)
            {
                <li>
                    <a asp-controller="Movie" asp-action="GetMovie" asp-route-id="@review.MovieId"
                       class="row justify-content-center" style="font-weight: 400; margin-right: 25px">
                        @Model.Movies.FirstOrDefault(x => x.MovieId == review.MovieId)?.Title
                    </a>
                    <small class="row justify-content-center" style="font-weight: 400; margin-right: 25px">
                        review from @review.ReviewDate.ToString("d")
                    </small>
                </li>
            }
            </ol>
            
        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->
    
</div>
<!-- =============== END OF WRAPPER =============== -->


</body>