@using LinqToDB
@{
    ViewBag.Title = ViewBag.User.Nickname + " - Users";
    Layout = "_Layout";
}

<body>
<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">
    
    <!-- =============== START OF MAIN =============== -->
    <main class="contact-page ptb100">
        <div class="container">
            <div class="row">
                
                <!-- Start of Avatar Form -->
                <div class="col-md-3" style="margin-left: 30%">
                    <div style="margin-top: 40px;">
                        <div class="movie-poster">
                            <img src="@ViewBag.User.AvatarPath"
                                 alt="" width="200">
                        </div>
                    </div>
                </div>
                <!-- End of Avatar Form -->
                
                <div>
                    <h2>@ViewBag.User.Nickname</h2>
                    
                    <h6>Registration date: @ViewBag.User.RegisterDate.ToString("d")</h6>
                    <h6>Reviews count: @ViewBag.Reviews.Count</h6>
                </div>
                
            </div>
            
            <p></p>
            <hr>
            <h4 class="row justify-content-center pt10">Latest Reviews</h4>
            <ol>
            @foreach (Review review in ViewBag.Reviews)
            {
                <li >
                    <a asp-controller="Movie" asp-action="LatestMovies" asp-route-id="@review.MovieId"
                       class="row justify-content-center pt10" style="font-weight: 400; margin-right: 25px">@(((ITable<Movie>)ViewBag.Movie).FirstOrDefault(x => x.MovieId == review.MovieId)?.Title)</a>
                </li>
            }
            </ol>
            
        </div>
    </main>
    <!-- =============== END OF MAIN =============== -->
    
</div>
<!-- =============== END OF WRAPPER =============== -->


</body>