@model dynamic

@{
    ViewData["Title"] = "News";
    Layout = "_Layout";
}

<body>

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
    
        <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient"
            style="background: url(https://img.wallpapersafari.com/desktop/1600/900/62/98/Qjf1kZ.png)">
            <div class="container">
                <div class="inner">
                    <h2 class="title">News</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->

        <!-- =============== START OF MAIN =============== -->
        <main class="blog-page ptb100">
            <div class="container">

                <div class="row justify-content-center">
                    <!-- Start of Blog Posts -->
                    <div class="col-md-8 col-sm-12">

                        <!-- Start of Blog Post 1 -->
                        <article class="blog-post">

                            <!-- Image -->
                            <div class="blog-thumb">
                                <a href='@Url.Action("NewsDetail", "News")' class="post-img hover-link">
                                    <img src="~/images/news/news-1.jpg" alt="">
                                </a>
                            </div>

                            <!-- Content -->
                            <div class="post-content">
                                <h3 class="title">
                                    <a href='@Url.Action("NewsDetail", "News")'>
                                        Papich in The Expendables
                                    </a>
                                </h3>

                                <ul class="post-meta">
                                    <li>November 21, 2021</li>
                                </ul>

                                <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula
                                    nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue
                                    dapibus facilisis.</p>

                                <a href='@Url.Action("NewsDetail", "News")' class="read-more">
                                    Read More <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </article>
                        <!-- End of Blog Post 1 -->

                        <!-- Start of Blog Post 2 -->
                        <article class="blog-post">

                            <!-- Image -->
                            <div class="blog-thumb">
                                <a href='@Url.Action("NewsDetail", "News")' class="post-img hover-link">
                                    <img src="~/images/news/news-2.png" alt="">
                                </a>
                            </div>

                            <!-- Content -->
                            <div class="post-content">
                                <h3 class="title">
                                    <a href='@Url.Action("NewsDetail", "News")'>
                                        Oscar Awards
                                    </a>
                                </h3>

                                <ul class="post-meta">
                                    <li>February 9, 2018</li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">5 Comments</a></li>
                                </ul>

                                <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula
                                    nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue
                                    dapibus facilisis.</p>

                                <a href='@Url.Action("NewsDetail", "News")' class="read-more">
                                    Read More <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </article>
                        <!-- End of Blog Post 2 -->

                        <!-- Start of Blog Post 3 -->
                        <article class="blog-post">

                            <!-- Image -->
                            <div class="blog-thumb">
                                <a href='@Url.Action("NewsDetail", "News")' class="post-img hover-link">
                                    <img src="~/images/news/news-3.jpg" alt="">
                                </a>
                            </div>

                            <!-- Content -->
                            <div class="post-content">
                                <h3 class="title">
                                    <a href='@Url.Action("NewsDetail", "News")'>
                                        Top Upcoming Movies
                                    </a>
                                </h3>

                                <ul class="post-meta">
                                    <li>January 18, 2018</li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">5 Comments</a></li>
                                </ul>

                                <p>Nam nisl lacus, dignissim ac tristique ut, scelerisque eu massa. Vestibulum ligula
                                    nunc, rutrum in malesuada vitae, tempus sed augue. Curabitur quis lectus quis augue
                                    dapibus facilisis.</p>

                                <a href='@Url.Action("NewsDetail", "News")' class="read-more">
                                    Read More <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </article>
                        <!-- End of Blog Post 3 -->


                        <!-- Start of Pagination -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <nav class="pagination">
                                    <ul>
                                        <li><a href="#" class="current-page">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="ti-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End of Pagination -->

                    </div>
                    <!-- End of Blog Posts -->
                </div>

            </div>
        </main>
        <!-- =============== END OF MAIN =============== -->

    </div>
    <!-- =============== END OF WRAPPER =============== -->


    <!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
    <div class="general-search-wrapper">
        <form class="general-search" role="search" method="get" action="#">
            <input type="text" placeholder="Type and hit enter...">
            <span id="general-search-close" class="ti-close toggle-search"></span>
        </form>
    </div>
    <!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->


    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->

</body>