@model List<News>

@{
    ViewBag.Title = "News";
    Layout = "_Layout";
}

<body>

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
    
        <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient"
            style="background: url(https://img.wallpapersafari.com/desktop/1600/900/62/98/Qjf1kZ.png)">
            <div class="container">
                <div class="inner">
                    <h2 class="title">News</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->

        <!-- =============== START OF MAIN =============== -->
        <main class="blog-page ptb100">
            <div class="container">

                <div class="row justify-content-center">
                    <!-- Start of Blog Posts -->
                    <div class="col-md-8 col-sm-12">

                        @if (Model.Any())
                        {
                            @foreach (var news in Model)
                            {
                            <!-- Start of Blog Post 1 -->
                            <article class="blog-post">

                                    <!-- Image -->
                                    <div class="blog-thumb">
                                        <a asp-controller="News" asp-action="GetNews" asp-route-id="@news.NewsId" class="post-img hover-link">
                                            <img src="@news.PosterPath" alt="">
                                        </a>
                                    </div>

                                    <!-- Content -->
                                    <div class="post-content">
                                        <h3 class="title">
                                            <a asp-controller="News" asp-action="GetNews" asp-route-id="@news.NewsId">
                                                @news.Title
                                            </a>
                                        </h3>

                                        <ul class="post-meta">
                                            <li>@news.NewsDate.ToString("d")</li>
                                        </ul>

                                        <p>
                                            @Html.Raw(news.Text)
                                        </p>

                                        <a asp-controller="News" asp-action="GetNews" asp-route-id="@news.NewsId" class="read-more">
                                            Read More <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>

                                </article>
                                <!-- End of Blog Post 1 -->
                            }
                         }

                        <!-- Start of Pagination -->
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <nav class="pagination">
                                    <ul>
                                        <li><a href="#" class="current-page">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="ti-angle-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- End of Pagination -->

                    </div>
                    <!-- End of Blog Posts -->
                </div>

            </div>
        </main>
        <!-- =============== END OF MAIN =============== -->

    </div>
    <!-- =============== END OF WRAPPER =============== -->

    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->

</body>