@model ViewModel

@{
    ViewBag.Title = "Reviefy";
     Layout = "_Master";
}

<body>

<!-- =============== START OF WRAPPER =============== -->
<div class="wrapper">

<!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->
<section id="slider" class="full-slider">

    <div class="rev-slider-wrapper fullscreen-container overlay-gradient">
        <div id="fullscreen-slider" class="rev_slider fullscreenbanner" style="display:none"
             data-version="5.4.1">
            <!-- ===== SLIDE NR. 1 ===== -->
            <!-- MAIN IMAGE -->
            <img src="~/images/posters/background-index.jpeg" alt="Image" title="slider-bg"
                 data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                 data-bgparallax="10" data-no-retina="">
            <!-- LAYER NR. 1 -->
        </div>
    </div>
    <!-- ===== END OF REV SLIDER WRAPPER ===== -->

    <!-- =============== START OF TEXT WRAPPER =============== -->
    <div class="search-form-wrapper search-form-rev" style="top: 40% !important;">
        <div class="container">

            <div class="row justify-content-center" style="color: #fff; font-weight: 900; font-size: 60px;">
                SEARCH
                REVIEWS NOW
            </div>
        </div>
    </div>
    <!-- =============== START OF TEXT WRAPPER =============== -->

    <!-- ===== START OF SEARCH FORM WRAPPER ===== -->
    <div class="search-form-wrapper search-form-rev">
        <div class="container">

            <!-- ===== START OF SEARCH FORM ===== -->
            <form id="search-form-1">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-10 col-12">
                        <div class="form-group">
                            <input name="search-keyword" type="text" id="search-keyword" value=""
                                   class="form-control" placeholder="Enter Movies or Series Title">
                            <button type="submit" class="btn btn-main btn-effect">
                                <i
                                    class="fa fa-search">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- ===== END OF SEARCH FORM ===== -->

        </div>
    </div>
    <!-- ===== END OF SEARCH FORM WRAPPER ===== -->
</section>
<!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->


<!-- =============== START OF LATEST MOVIES SECTION =============== -->
<section class="latest-movies ptb100">
<div class="container">

<!-- Start of row -->
<div class="row">
    <div class="col-md-8">
        <h2 class="title">Latest Movies</h2>
    </div>


    <div class="col-md-4 align-self-center text-right">
        <a asp-controller="Movie" asp-action="LatestMovies" class="btn btn-icon btn-main btn-effect">
            view all
            <i class="ti-angle-double-right"></i>
        </a>
    </div>
</div>
<!-- End of row -->


<!-- Start of Latest Movies Slider -->
<div class="owl-carousel latest-movies-slider mt20">

    @foreach (Movie movie in Model.Movies)
    {
     <!-- === Start of Sliding Item === -->
        <div class="item">
            <!-- Start of Movie Box -->
            <div class="movie-box-1" style="width: 266px; height: 375px;">

                <!-- Start of Poster -->
                <div class="poster">
                    <img src="@movie.PosterPath"
                         alt="">
                </div>
                <!-- End of Poster -->

                <!-- Start of Movie Details -->
                <div class="movie-details">
                    <h4 class="movie-title">
                        <a asp-controller="Movie" asp-action="LatestMovies" asp-route-id="@movie.MovieId">@movie.Title</a>
                    </h4>
                    <span class="released">@movie.ReleaseDate.ToString("d")</span>
                </div>
                <!-- End of Movie Details -->

                <!-- Start of Rating -->
                <div class="stars">
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <span>@movie.Rating / 10</span>
                </div>
                <!-- End of Rating -->

            </div>
            <!-- End of Movie Box -->
        </div>
     <!-- === End of Sliding Item === -->
     }

</div>
<!-- End of Latest Movies Slider -->


</div>
</section>
<!-- =============== END OF LATEST MOVIES SECTION =============== -->


<!-- =============== START OF WANT TO BE A REVIEWER =============== -->
<section class="how-it-works bg-light ptb100">
    <div class="container">

        <!-- Start of row -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Want to be a reviewer?</h2>
                <h6 class="subtitle">
                    We will show you step by step how to write your own review about
                    movies!
                </h6>
            </div>
        </div>
        <!-- End of row -->


        <!-- Start of Timeline -->
        <div class="timeline">

            <span class="main-line"></span>

            <!-- === Start of Timeline Step 1 === -->
            <div class="timeline-step row">
                <span class="timeline-step-btn">Step 1</span>

                <!-- Start of Timeline Text -->
                <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                    <div class="timeline-text">
                        <h3>Create an account</h3>
                        <p>
                            Only registered users can leave their comments. And registration is very easy!
                            You just need to specify your username, mail and password.
                        </p>
                    </div>
                </div>
                <!-- End of Timeline Text -->

                <!-- Start of Timeline Image -->
                <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                    <div class="timeline-image">
                        <img src="~/images/other/signup.png" alt="">
                    </div>
                </div>
                <!-- End of Timeline Image -->

            </div>
            <!-- === End of Timeline Step 1 === -->


            <!-- === Start of Timeline Step 2 === -->
            <div class="timeline-step row">
                <span class="timeline-step-btn" style="color: #2a7bc2; background: #c1ddf5;">Step 2</span>

                <!-- Start of Timeline Image -->
                <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                    <div>
                        <img src="~/images/other/find-movie.png" alt="">
                    </div>
                </div>
                <!-- End of Timeline Image -->

                <!-- Start of Timeline Text -->
                <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                    <div class="timeline-text-right">
                        <h3>Find the movie</h3>
                        <p>
                            Now you need to find the movie you want to review. To do this,
                            you can use the search that is located above.
                        </p>
                    </div>
                </div>
                <!-- End of Timeline Text -->

            </div>
            <!-- === End of Timeline Step 2 === -->


            <!-- === Start of Timeline Step 3 === -->
            <div class="timeline-step row">
                <span class="timeline-step-btn" style="color: #eb305f; background: #f9c8d4;">Step 3</span>

                <!-- Start of Timeline Text -->
                <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                    <div class="timeline-text">
                        <h3>Write your review</h3>
                        <p>Finally, leave your impression of the movie! Perhaps you will find new fans.</p>
                    </div>
                </div>
                <!-- End of Timeline Text -->

                <!-- Start of Timeline Image -->
                <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                    <div class="timeline-image">
                        <img src="~/images/other/review.png" alt="">
                    </div>
                </div>
                <!-- End of Timeline Image -->

            </div>
            <!-- === End of Timeline Step 3 === -->

        </div>
        <!-- End of Timeline -->

    </div>
</section>
<!-- =============== END OF WANT TO BE A REVIEWER =============== -->


<!-- =============== START OF COUNTER SECTION =============== -->
<section class="counter bg-main-gradient ptb50 text-center">
    <div class="container">
        <div class="row">

            <!-- 1st Count up item -->
            <div class="col-md-4 col-sm-12">
                <span class="counter-item" data-from="0" data-to="964">0</span>
                <h4>Movies</h4>
            </div>

            <!-- 2nd Count up item -->
            <div class="col-md-4 col-sm-12">
                <span class="counter-item" data-from="0" data-to="743">0</span>
                <h4>Reviews</h4>
            </div>

            <!-- 3rd Count up item -->
            <div class="col-md-4 col-sm-12">
                <span class="counter-item" data-from="0" data-to="1207">0</span>
                <h4>Users</h4>
            </div>

        </div>
    </div>
</section>
<!-- =============== END OF COUNTER SECTION =============== -->


<!-- =============== START OF BLOG SECTION =============== -->
<section class="blog bg-light ptb100">
    <div class="container">

        <!-- Start of row -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Latest News</h2>
                <h6 class="subtitle">Check out the latest Movie News and Updates on our website!</h6>
            </div>
        </div>
        <!-- End of row -->


        <!-- Start of row -->
        <div class="row mt50">
        
            @foreach (News news in Model.News)
            {
                <!-- Start of Blog Item -->
                <div class="col-md-4">
                    <div class="bloglist-post-holder shadow-hover">

                        <!-- Blog Post Thumbnail -->
                        <a asp-controller="News" asp-action="LatestNews" asp-route-id="@news.NewsId" class="bloglist-thumb-link hover-link">
                            <div class="bloglist-post-thumbnail"
                                 style="background: url(@news.PosterPath)">
                            </div>
                        </a>

                        <!-- Blog Post Text Wrapper -->
                        <div class="bloglist-text-wrapper">
                            <!-- Author Avatar -->
                            <span class="circle-img bloglist-avatar">
                                <img src="~/images/admin.jpg" width="50" height="50" alt="author img">
                            </span>

                            <h4 class="bloglist-title">
                                <a asp-controller="News" asp-action="LatestNews" asp-route-id="@news.NewsId">@news.Title</a>
                            </h4>

                            <div class="bloglist-meta">
                                <i class="fa fa-calendar"></i> @news.NewsDate.ToString("d")
                            </div>
                            
                            <div class="bloglist-excerpt">
                                <p>
                                    @Html.Raw(news.Text[..173])...
                                </p>
                                <a asp-controller="News" asp-action="LatestNews" asp-route-id="@news.NewsId" class="btn btn-main btn-effect">read more</a>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Of Blog Item -->
            }
            
        </div>
        <!-- End of row -->

    </div>
</section>
<!-- =============== END OF BLOG SECTION =============== -->

</div>
<!-- =============== END OF WRAPPER =============== -->

<!-- ===== Start of Back to Top Button ===== -->
<div id="backtotop">
    <a href="#"></a>
</div>
<!-- ===== End of Back to Top Button ===== -->

</body>