@model List<Movie>

@{
    ViewBag.Title = "Latest Movies";
    Layout = "_Layout";
}

<body>

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
    
    <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient"
            style="background: url(https://i.imgur.com/s0Q4zuT.jpg)">
            <div class="container">
                <div class="inner">
                    <h2 class="title">Latest Movies</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->
    

        <!-- =============== START OF MAIN =============== -->
        <main class="ptb100">
            <div class="container">

                <!-- Start of Movie List -->
                <div class="row">

                 @if (Model.Any())
                 {
                     @foreach (Movie entity in Model)
                     {
                         <!-- Movie List Item -->
                         <div class="col-lg-4 col-md-6 col-sm-12" >
                             <div class="movie-box-1 mb30">

                                 <!-- Start of Poster -->
                                 <div class="poster">
                                     <img src="@entity.PosterPath" alt="" style="width: 350px; height: 495px;">
                                 </div>
                                 <!-- End of Poster -->

                                 <!-- Start of Buttons -->
                                 <div class="buttons">
                                     <a href="@entity.TrailerPath" class="play-video">
                                         <i class="fa fa-play"></i>
                                     </a>
                                 </div>
                                 <!-- End of Buttons -->

                                 <!-- Start of Movie Details -->
                                 <div class="movie-details">
                                     <h4 class="movie-title">
                                         <a asp-controller="Movie" asp-action="LatestMovies" asp-route-id="@entity.MovieId">@entity.Title</a>
                                     </h4>
                                     <span class="released">@entity.ReleaseDate.ToString("d")</span>
                                 </div>
                                 <!-- End of Movie Details -->

                                 <!-- Start of Rating -->
                                 <div class="stars">
                                     <div class="rating">
                                         <i class="fa fa-star"></i>
                                         <i class="fa fa-star"></i>
                                         <i class="fa fa-star"></i>
                                         <i class="fa fa-star"></i>
                                         <i class="fa fa-star-o"></i>
                                     </div>
                                     <span>@entity.Rating / 10</span>
                                 </div>
                                 <!-- End of Rating -->

                             </div>
                         </div>
                     }
                 }

                </div>
                <!-- End of Movie List -->

                <!-- Start of Pagination -->
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <nav class="pagination">
                            <ul>
                                <li><a href="#" class="current-page">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#"><i class="ti-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End of Pagination -->

            </div>
        </main>
    <!-- =============== END OF MAIN =============== -->
    
    </div>
    <!-- =============== END OF WRAPPER =============== -->


    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->

</body>